<div>
    <h2>Employee Billing Hours</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="employeeBillingHours.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create new Employee Billing Hours</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search Employee Billing Hours</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><span>Employee</span></th>
                    <th><span>Week1</span></th>
                    <th><span>Week2</span></th>
                    <th><span>Week3</span></th>
                    <th><span>Week4</span></th>
                    <th><span>Week5</span></th>
                    <th><span>CreatedDate</span></th>
                    <th><span>ForecastDate</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="employeeBillingHours in employeeBillingHourss track by employeeBillingHours.id">
                    <td>
                        <a ui-sref="employee.detail({id:employeeBillingHours.employee.id})">{{employeeBillingHours.employee.name}}</a>
                    </td>
                    <td>{{employeeBillingHours.week1}}</td>
                    <td>{{employeeBillingHours.week2}}</td>
                    <td>{{employeeBillingHours.week3}}</td>
                    <td>{{employeeBillingHours.week4}}</td>
                    <td>{{employeeBillingHours.week5}}</td>
                        <td>{{employeeBillingHours.createdDate | date:'mediumDate'}}</td>
                        <td>{{employeeBillingHours.forecastDate | date:'mediumDate'}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="employeeBillingHours.detail({id:employeeBillingHours.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="employeeBillingHours.edit({id:employeeBillingHours.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="employeeBillingHours.delete({id:employeeBillingHours.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
