<div>
    <h2>Employee Hours Administration</h2>
    <jh-alert></jh-alert>
    <br/>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ng-click="showViewEmployeeHours()">
                    <span class="glyphicon glyphicon-flash"></span><span>View Employee Hours</span>
                </button>
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary" ng-click="showDownloadEmployeeHours()">
                    <span class="glyphicon glyphicon-flash"></span><span>Download Employee Hours</span>
                </button>
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary" ng-click="showSetForecastFreezeDate()">
                    <span class="glyphicon glyphicon-flash"></span><span>Set Forecast Freeze Date</span>
                </button>
            </div>
        </div>
    </div>
    <br/>

<form name="viewEmployeeHoursForm" role="form" novalidate ng-submit="viewEmployeeHours()">
	<!-- VIEW EMPLOYEE HOURS -->
	<div class="table-responsive" ng-show="showViewEmployeeHoursDiv">
    	<h4>View Employee Hours</h4>
		View the Employee Hours based on Employee
		<br/>
    </div>
</form>

<form name="downloadEmployeeHoursForm" role="form" novalidate ng-submit="downloadEmployeeHours()">
	<!-- DOWNLOAD EMPLOYEE HOURS -->
	<div class="table-responsive" ng-show="showDownloadEmployeeHoursDiv">
		<h4>Download Employee Hours</h4>
		Downloading forecast Hours of all the Employees for the coming months,
        Location : C:/Users/Public/Downloads/Forecast.xls
		<br/><br/>
    </div>
</form>

<form name="setForecastFreezeDateForm" role="form" novalidate ng-submit="setForecastFreezeDate()">
	<!-- SET FORECAST FREEZE DATE -->
	<div class="table-responsive" ng-show="showSetForecastFreezeDateDiv">
		<h4>Set Forecast Freeze Date</h4>
		Set the "forecast freeze date" for the current month
		<br/><br/>
	    <div class="form-group">
            <label class="control-label" for="field_forecastFreezeDate">Forecast Freeze Date</label>
            <input id="field_forecastFreezeDate" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="dto.forecastFreezeDate" is-open="datePickerForForecastFreezeDate.status.opened"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForForecastFreezeDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
            </button>
        </div>
    </div>
</form>

</div>
