<div>
    <h2>Employee Hours</h2>
    <jh-alert></jh-alert>
    <br/>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ng-click="newForecastForComingMonths()">
                    <span class="glyphicon glyphicon-flash"></span><span>Forecast the non-billable days for coming months</span>
                </button>
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary" ng-click="oldForecastForPreviousMonths()">
                    <span class="glyphicon glyphicon-flash"></span><span>View forecasted non-billable days for previous months</span>
                </button>
            </div>
        </div>
    </div>
    <br/>

<form name="employeeHoursForm" role="form" novalidate ng-submit="save()">
	<!-- NEW FORECAST -->
    <div class="table-responsive" ng-show="newForecast">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span>MONTH</span> </th>
                <th ng-repeat="n in [].constructor(31) track by $index"><span>{{$index + 1}}</span> </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(key, value) in newForecastEmployeeHoursMap">
                <td><b>{{key | date : 'MMMM'}}</b></td>
                <td ng-repeat="dateOfMonth in value"><input id="checkSlave" type="checkbox" name="selected" ng-model="dateOfMonth.selected" ng-checked="dateOfMonth.selected" ng-disabled="dateOfMonth.holiday"></td>
            </tr>
            </tbody>
        </table>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
            </button>
        </div>
    </div>
</form>

	<!-- OLD FORECAST -->
	<div class="table-responsive" ng-show="oldForecast">
		<div ng-repeat="(key, value) in oldForecastEmployeeHoursMap">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>
							<span>Forecast created in {{key | date : 'yyyy MMMM'}}</span>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="employeeHours in value">
						<td>
							Non-billable days for {{employeeHours.forecastDate | date : 'yyyy MMMM'}} : {{(employeeHours.holidays) || "None"}}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
