<form name="employeeHoursForm" role="form" novalidate ng-submit="save()">
<div>
    <h2>Employee Hours</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ng-click="newForecastForComingMonths()">
                    <span class="glyphicon glyphicon-flash"></span> <span>Select the non-billable days</span>
                </button>
            </div>
            <!-- <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a EmployeeHours</span>
                    </button>
                </form>
            </div> -->
        </div>
    </div>

    <div class="table-responsive" ng-show="newForecast">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span>MONTH</span> </th>
                <th ng-repeat="n in [].constructor(31) track by $index"><span>{{$index + 1}}</span> </th>
            </tr>
            </thead>
            <tr ng-repeat="(key, value) in forcastEmployeeHours">
                <td><b>{{key}}</b></td>
                <td ng-repeat="dateOfMonth in value"><input id="checkSlave" type="checkbox" name="selected" ng-model="dateOfMonth.selected" ng-checked="dateOfMonth.selected" ng-disabled="dateOfMonth.holiday"></td>
            </tr>
            </tbody>
        </table>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="clear()">
                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
            </button>
            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
            </button>
        </div>
    </div>
</div>
</form>
