<div>
    <h2>Holidays</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="holidays.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new Holidays</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a Holidays</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><span>Name</span></th>
                    <th><span>StartDate</span></th>
                    <th><span>EndDate</span></th>
                    <th><span>Location</span></th>
                    <th><span>LastChangedBy</span></th>
                    <th><span>LastChangedDt</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="holidays in holidayss track by holidays.id">
                    <td><a ui-sref="holidays.detail({id:holidays.id})">{{holidays.name}}</a></td>
                    <td>{{holidays.startDate | date:'mediumDate'}}</td>
                    <td>{{holidays.endDate | date:'mediumDate'}}</td>
                    <td>{{holidays.location}}</td>
                    <td>{{holidays.lastChangedBy}}</td>
                        <td>{{holidays.lastChangedDt | date:'mediumDate'}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="holidays.detail({id:holidays.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="holidays.edit({id:holidays.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="holidays.delete({id:holidays.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
